{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [rebar3_hex, rebar3_ex_doc]}.
{hex, [{doc, #{provider => ex_doc}}]}.
{ex_doc, [
    {source_url, <<"https://github.com/OpenRiak/ring_calculator">>},
    {homepage_url, <<"https://github.com/OpenRiak/ring_calculator">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"README.md">>}
]}.